# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencias de Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Compilación y distribución
/build
/public/static
/public/*.map

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Logs
logs
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/coverage

# Configuración de IDEs
.vscode/
.idea/
*.swp
*.swo

# Archivos de configuración de servicio
firebase.json
.firebaserc
.eslintcache

# Otros
*.cache
